<!doctype html>
<html lang="zh-cn">
 <head> 
  <meta charset="UTF-8"> 
  <meta name="SiteName" content="安徽慎邑建设投资控股集团有限公司"> 
  <meta name="SiteDomain" content=""> 
  <meta name="SiteIDCode" content=""> 
  <meta name="Keywords" content="安徽慎邑建设投资控股集团有限公司"> 
  <meta name="ColumnName" content="安徽慎邑建设投资控股集团有限公司"> 
  <meta name="ColumnType" content="走进建投"> 
  <meta name="ColumnDescription" content="安徽慎邑建设投资控股集团有限公司"> 
  <meta name="ColumnKeywords" content="安徽慎邑建设投资控股集团有限公司"> 
  <meta name="ArticleTitle" content="李克强主持召开国务院常务会议 听取《优化营商环境条例》实施情况第三方评估汇报等"> 
  <meta name="PubDate" content="2021-01-08 08:49:47"> 
  <meta name="ContentSource" content=""> 
  <meta name="Author" content="网站管理员"> 
  <meta name="Description" content="李克强主持召开国务院常务会议 听取《优化营商环境条例》实施情况第三方评估汇报等"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
  <title>李克强主持召开国务院常务会议 听取《优化营商环境条例》实施情况第三方评估汇报等 - 安徽慎邑建设投资控股集团有限公司</title> 
  <link rel="shortcut icon" type="image/x-icon" href="css/favicon.ico"> 
  <link rel="stylesheet" href="css/bootstrap.min.css"> 
  <link rel="stylesheet" href="css/public.css"> 
  <link rel="stylesheet" href="css/page.css"> 
  <!--[if lt IE 9]>
    <script src="/media/js/html5shiv.js"></script>
    <script src="/media/js/respond.min.js"></script>
    <![endif]--> 
 </head> 
 <body> 
  <!--头部 on--> 
  <div class="is-header"> 
   <div class="m-top visible-lg visible-md"> 
    <div class="container f-clearfix"> 
     <div class="u-topl f-fl">
       欢迎访问
      <a href="/">安徽慎邑建设投资控股集团有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><script src="js/time.js"></script></span> 
     </div> 
     <div class="u-topr f-fr"> 
      <a href="javascript:SetHome(window.location);">设为首页</a>
      <span>|</span>
      <a href="javascript:AddFavorite(window.location,document.title);">加入收藏</a> 
     </div> 
    </div> 
   </div> 
   <div class="m-head f-lg-ha"> 
    <div class="container f-clearfix"> 
     <a href="/" class="m-logo f-db f-fl"><img src="images/logo.png" alt=""></a> 
     <nav class="navbar navbar-default f-fl" role="navigation"> 
      <div class="container-fluid"> 
       <div class="navbar-header f-fl"> 
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
        <a class="navbar-brand" href="/">网站首页</a> 
       </div> 
       <div class="collapse navbar-collapse f-fl" id="example-navbar-collapse"> 
        <ul class="nav navbar-nav"> 
         <li> <a href="/content/channel/5fe009923db32aab1c7b23c7/" target="_blank">走进建投</a> 
          <dl class="f-dn"> 
          </dl> </li> 
         <li> <a href="/content/channel/5fe0099d3db32a6a0e7b23c9/" target="_blank">新闻中心</a> 
          <dl class="f-dn"> 
          </dl> </li> 
         <li> <a href="/content/channel/5fe009c23db32a00237b23c6/" target="_blank">项目建设</a> 
          <dl class="f-dn"> 
          </dl> </li> 
         <li> <a href="/content/channel/5fe009cd3db32aaa1f7b23c6/" target="_blank">企业文化</a> 
          <dl class="f-dn"> 
          </dl> </li> 
         <li> <a href="/content/channel/5fe009d93db32a00237b23c7/" target="_blank">招标信息</a> 
          <dl class="f-dn"> 
          </dl> </li> 
         <li> <a href="/content/channel/5fe009e43db32a81287b23c6/" target="_blank">政策法规</a> 
          <dl class="f-dn"> 
          </dl> </li> 
        </ul> 
       </div> 
      </div> 
     </nav> 
     <div class="m-search f-fr f-pr"> 
      <i class="m-search1"></i> 
      <form class="u-search f-clearfix" method="GET" action="/index.php?c=search"> 
       <input type="hidden" name="c" value="search"> 
       <input type="text" class="text f-pa f-dn" placeholder="请输入搜索关键字" name="keywords"> 
       <input type="submit" class="submit f-pa f-dn" value=""> 
      </form> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--头部 end--> 
  <!--主体 on--> 
  <div class="is-main f-mb15"> 
   <div class="container"> 
    <section class="m-location f-mb10"> 
     <span>当前位置：</span> 
     <a href="/">网站首页</a> &gt; 
     <a href="/content/channel/5fe009923db32aab1c7b23c7/">走进建投</a> 
    </section> 
    <div class="m-pgpdbox1"> 
     <div class="m-detailbox"> 
      <h1 class="u-lgtit text-center f-mb15 f-md-mb10">李克强主持召开国务院常务会议 听取《优化营商环境条例》实施情况第三方评估汇报等</h1> 
      <div class="m-dtfuns f-clearfix"> 
       <div class="u-wzinfo f-fl f-md-fn"> 
        <span>发布时间：2021-01-08 08:49:47</span> 
        <span>作者：网站管理员</span> 
        <span>浏览：159 次</span> 
       </div> 
       <div class="share-main f-fr"> 
        <div class="share-bar j-share"> 
         <a class="share-tsina" data-type="tsina" title="分享到新浪微博" href="javascript:;"></a> 
         <a class="share-weixin" data-type="weixin" title="分享到微信" href="javascript:;"></a> 
         <a class="share-qzone" data-type="qzone" title="分享到QQ空间" href="javascript:;"></a> 
        </div> 
        <div class="weixin-share-open"> 
         <div class="weixin-wrap"> 
          <div class="share-qrcode" id="j-wxqrcode"></div> 
          <div class="weixin-text"> 
           <p>用微信扫描二维码<br>分享至好友和朋友圈</p> 
          </div> 
          <span class="weixin-close">×</span> 
         </div> 
        </div> 
       </div> 
       <div class="u-fontsize f-fr f-md-fn">
         【字体大小：
        <a href="javascript:doZoom(20)">大</a>
        <a href="javascript:doZoom(16)">中</a>
        <a href="javascript:doZoom(12)">小</a>】 
       </div> 
      </div> 
      <div class="m-dtfonts"> 
       <div class="m-dttexts f-clearfix j-fontContent" id="zoom"> 
        <p style="text-indent: 2em;">&nbsp;</p> 
        <p style="text-indent: 2em;">国务院总理李克强1月4日主持召开国务院常务会议，听取《优化营商环境条例》实施情况第三方评估汇报，要求进一步打通落实堵点，提升营商环境法治化水平；通过《中华人民共和国印花税法（草案）》和《粮食流通管理条例（修订草案）》。</p> 
        <p style="text-indent: 2em;">会议指出，按照党中央、国务院部署，着力优化营商环境，是更大激发市场主体活力的关键，也是应对严峻复杂形势、促进经济稳定恢复的重要举措。受国务院委托，在全国9个省对《优化营商环境条例》实施情况开展第三方评估。总的看，《条例》实施取得积极成效，企业对减税降费、政务服务便利化等满意度较高，对“一业一证”、“一企一证”、“证照联办”等便利企业开办经营的改革举措感受明显。去年在极为困难条件下新设市场主体2000多万户，逆势大幅增加并保持较高活跃度，离不开营商环境持续改善。评估也发现企业对招投标、中介服务、融资等方面问题反映较多。同时，东部地区与中西部、东北地区之间，省会城市与非省会城市之间，落实《条例》的进展也不平衡，有些差距明显。会议强调，要进一步深化“放管服”改革，加大《条例》落实力度，放出活力，管出公平公正，服出效率。一要鼓励东部地区、省会城市对标国际先进先行先试，支持中西部和东北地区、非省会城市以改革促进营商环境明显改善。二要推广“一业一证”、“一企一证”、“证照联办”等创新举措，催生更多新市场主体，按市场规则运行。三要促进公平竞争，推进政府项目招投标市场化改革，规范中介服务，加大信贷中增加企业融资成本“潜规则”的查处力度。四要着力提升监管效能，放得开又管得住，进一步增强事中事后监管的针对性有效性，推行综合监管、联合执法，对涉及群众生命健康安全等领域实行全覆盖重点监管。</p> 
        <p style="text-indent: 2em;">会议通过《中华人民共和国印花税法（草案）》。草案总结印花税暂行条例多年实践做法，一方面总体保持现行税制不变，并将证券交易印花税纳入法律规范；另一方面适当简并税目，降低部分税率，减轻企业税负，并突出使税收征管更加科学规范，减少自由裁量权，堵塞任意性漏洞。草案规定买卖、技术等合同和证券交易的税率维持不变，降低加工承揽、建设工程勘察设计、货物运输合同和营业账簿的税率，取消许可证照等的印花税税目，同时明确现行印花税税收优惠政策总体不变。会议决定将草案提请全国人大常委会审议。</p> 
        <p style="text-indent: 2em;">为维护粮食生产经营者和消费者合法权益、保障国家粮食安全，会议通过《粮食流通管理条例（修订草案）》。草案严格政策性粮食管理，规定严禁虚报收储数量、以次充好、虚假轮换等，严禁挪用、克扣财政补贴和信贷资金；强化粮食收购、储存等环节质量安全检测监管，规定农药残留、重金属超标等粮食不得作为食用用途销售；明确了防止和减少粮食损失浪费的措施。草案还加大违法行为惩处力度。</p> 
        <p style="text-indent: 2em;">会议还研究了其他事项。</p> 
        <p style="text-indent: 2em;">&nbsp;</p> 
        <p style="text-indent: 2em;">&nbsp;</p> 
       </div> 
      </div> 
      <div class="m-dtdownload f-mb15"> 
       <ul> 
       </ul> 
      </div> 
      <div class="m-dtcode visible-lg visible-md f-mb15"> 
       <p>扫一扫在手机打开当前页</p> 
       <div id="qrcode"></div> 
      </div> 
      <div class="m-btfuns f-clearfix f-mb15"> 
       <ul class="f-fr"> 
        <li class="u-gotp j-goTop"><a href="javascript:;">顶部</a></li> 
        <li class="u-print hidden-sm hidden-xs"><a href="javascript:window.print();">打印</a></li> 
        <li class="u-close"><a href="javascript:window.close();">关闭</a></li> 
       </ul> 
      </div> 
      <div class="m-dtsxqh f-clearfix"> 
       <ul> 
        <li class="f-fl u-dtprev">上一条： <a href="/content/detail/5ff7abfa3db32aeaf47b23c6.html">市五届人大常委会召开主任会议</a></li> 
        <li class="f-fr u-dtnext">下一条： <a href="/content/detail/6012baf12792ee43327b23c6.html">颍上县2020年教育双基建设项目设计施工...</a></li> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--主体 end--> 
  <!--底部 on--> 
  <div class="is-footer"> 
   <div class="container f-clearfix"> 
    <div class="m-footerl f-fl"> 
     <p><a href="" target="_blank">法律声明</a><a href="/sitemap/" target="_blank"> | 网站地图 </a><a href="" target="_blank">| 联系我们</a></p> 
     <p>版权所有：安徽慎邑建设投资控股集团有限公司&nbsp;&nbsp;&nbsp; 地址：颍上县慎城镇政务南路266号 &nbsp; &nbsp; &nbsp; 电话：0558-3900697</p> 
     <p><a href="https://beian.miit.gov.cn/" target="_blank">皖ICP备2021000126号-1</a></p> 
    </div> 
    <div class="m-link f-fr"> 
     <div class="u-link"> 
      <div class="u-links f-fl"> 
       <dl> 
        <dt>
         -友情链接-
        </dt> 
        <dd> 
         <ul> 
          <!-- <li><a href="" target="_blank">233</a></li>
								<li><a href="" target="_blank">233</a></li>
								<li><a href="" target="_blank">2333</a></li>
								<li><a href="" target="_blank">2333</a></li>
								<li><a href="" target="_blank">2333</a></li> --> 
         </ul> 
        </dd> 
       </dl> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--底部 end--> 
  <script src="js/jquery.min.js"></script> 
  <script src="js/bootstrap.min.js"></script> 
  <script src="js/qrcode.min.js"></script> 
  <script src="js/ishangShare.js"></script> 
  <script src="js/base.js"></script> 
  <script>
        $(function(){
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                width : 120,
                height : 120
            });
            var urlStr = window.location.href;
            qrcode.makeCode(urlStr);
        });
    </script> 
  <script>
        function doZoom(size){
            var zoom = document.all ? document.all['zoom'] : document.getElementById('zoom');
            zoom.style.fontSize = size + 'px';
        }
    </script>  
 </body>
</html>